<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
          </h1>

          <!-- Blog Posts -->
          <% @articles.each do |a| %>
                <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= a.title %></h2>
              <p class="card-text"><%= a.body %></p>
              <%= link_to('Leer más', a, class: "btn btn-primary") %>        

            </div>
            <div class="card-footer text-muted">
              Publicado el <%= a.created_at %> por <%= a.user.firstname %></a>
            </div>
          </div>
          <% end %>

          <!-- Pagination -->
                    <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Entradas Recientes</h5>
            <ul class="list-group list-group-flush">
                <% @articles.last(4).each do |a| %>
                  <%= link_to(a.title, a, class: "list-group-item list-group-item-action") %>        
                
              <% end %>
    
  </ul>
          </div>

        </div>

      </div>
      <!-- /.row -->