<div class="fh5co-loader"></div>
<div id="page">
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(<%= image_url("fondo") %>);" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					
				</div>
				<div class="col-md-6 text-center gradient">
					<div class="display-t gradient">
						
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<img class="img-fluid" src="<%= image_url("logo") %>"></img>
							<h1>Nos casamos!</h1>
							<h2>Faltan</h2>
							<div class="simply-countdown simply-countdown-one"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
   
    <section>
    	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center fh5co-heading animate-box">
					<p>Los invitamos a nuestro Casamiento que se realizará el día</p>
					<h3>28 de noviembre de 2018 en Tal Lugar</h3>
				</div>
			</div>
			<div class="row align-items-center couple-wrap animate-box">
				<div class="col-sm-4 couple-half">
					<div class="desc-groom">
						<h3>Gisela Mortoro</h3>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="<%= image_url("9") %>" alt="groom" class="img-fluid">
				</div>
				<div class="col-sm-4">
					<div class="couple-half desc-bride">
						<h3>Pablo Di Sisto</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
    </section>

	<section>
		<div id="fh5co-event" class="fh5co-bg" style="background-image:url(<%= image_url("roses") %>);" >
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center fh5co-heading animate-box">
					<span>Horarios y Lugares</span>
					<h2>Eventos de Nuestro Casamiento</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12">
							<div class="row">
							
								<%= render 'events/eventslist' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
    
    <section>
    	<div id="fh5co-testimonial">
		<div class="container">
			<div class="">
				<div class="row animate-box">
					<div class="col-md-8 offset-md-2 text-center fh5co-heading">
						<span>Dejanos tu mensaje</span>
						<h2>Mensajes de Familia y Amigos</h2>
						
			          </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								
								
								<% @messages.each do |message| %>
    <div class="item">
		<div class="testimony-slide active text-center">
			
			<span>Mensaje de: <%= message.author %></span>
			<blockquote>
				<p>"<%= message.content %>"</p>
			</blockquote>
		</div>
	</div>
    
<% end %>

							</div>
						</div>
						
					</div>
					<div class="col-sm-12 col-md-6 offset-md-3 text-center my-4">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#exampleModal">
					  Dejar Mensaje
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Dejanos un Mensaje</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
								<%= render 'messages/form' %>					      
						</div>
					      
					    </div>
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
    </section>
    
    <section>
    	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center fh5co-heading animate-box">
					<span>Nuestros Recuerdos</span>
					<h2>Galería de Fotos</h2>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-1.jpg); "> 
						<a href="assets/images/ff.txt">
							<div class="case-studies-summary">
								<h2>Two Glas of Juice</h2>
							</div>
						</a>
					</li>
					
					</ul>		
				</div>
			</div>
		</div>
	</div>
    </section>
  <div class="gototop js-top active">
		<a href="#" class="js-gotop"><i class="fa fa-arrow-circle-up"></i></a>
	</div>
</div> 

	