<%= simple_form_for(@guest, url: admin_guest_quick_create_path, remote: true) do |f| %>
<div class="panel">
  <h3>Agregar Invitado</h3>
    <div class="panel_contents">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <p><strong>Añadir Invitado a la lista</strong><br><br></p>

      <fieldset>
        <%= f.input :name , label: 'Nombre del Invitado' %>
      </fieldset>
      <fieldset>
        <%= f.input :email , label: 'Email del Invitado' %>
      </fieldset>
      <fieldset>
        <%= f.input :phone , label: 'Teléfono móvil del Invitado' %>
      </fieldset>
      
    </div>
    
  </div>
  <fieldset class="actions">
            <ol>
                <li class="action input_action " id="invitation_submit_action">
                    <%= f.button :submit, "Agregar Invitado"   %>
                </li>
            </ol>
    </fieldset>
<% end %>