<div id="modal">    
  <h2>Agregar Invitado</h2> 
    <p class="modal-description">Añadir Invitado a la lista.</p>
    <%= simple_form_for(@guest, url: admin_guest_quick_create_path, remote: true) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <fieldset>
        <%= f.input :name , label: 'Nombre del Invitado' %>
      </fieldset>
      <fieldset>
        <%= f.input :email , label: 'Email del Invitado' %>
      </fieldset>
      <fieldset>
        <%= f.input :phone , label: 'Teléfono móvil del Invitado' %>
      </fieldset>
      <ul class="form-actions">
        <li>
          <%= f.button :submit, "Agregar Invitado"   %>
        </li>
      </ul>
    <% end %>
</div>