<p id="notice"><%= notice %></p>

<h1>Weddings</h1>

<table>
  <thead>
    <tr>
      <th>Groom name</th>
      <th>Groom surname</th>
      <th>Bride name</th>
      <th>Bride surname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weddings.each do |wedding| %>
      <tr>
        <td><%= wedding.groom_name %></td>
        <td><%= wedding.groom_surname %></td>
        <td><%= wedding.bride_name %></td>
        <td><%= wedding.bride_surname %></td>
        <td><%= link_to 'Show', wedding %></td>
        <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
        <td><%= link_to 'Destroy', wedding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedding', new_wedding_path %>
