<p id="notice"><%= notice %></p>

<p>
  <strong>Groom name:</strong>
  <%= @wedding.groom_name %>
</p>

<p>
  <strong>Groom surname:</strong>
  <%= @wedding.groom_surname %>
</p>

<p>
  <strong>Bride name:</strong>
  <%= @wedding.bride_name %>
</p>

<p>
  <strong>Bride surname:</strong>
  <%= @wedding.bride_surname %>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
