<div class="container">
  <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Blog Posts -->
          <% @categories.each do |c| %>
                <div class="card my-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= c.title %></h2>
              <p class="card-text"><%= c.body %></p>
              <%= link_to('Ver Publicaciones', c, class: "btn btn-primary") %>        

            </div>
          </div>
          <% end %>

          <!-- Pagination 
-->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                  <ul class="list-unstyled mb-0">
                    <div class="row">

                    <% @categories.each do |a| %>
                    <li class="col-sm-6">
                      <%= link_to(a.title, a) %>        
                    </li>
                    <% end %>
                                  </div>

                  </ul>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Entradas Recientes</h5>
            <ul class="list-group list-group-flush">
                <% @articles.last(4).each do |a| %>
                  <%= link_to(a.title, a, class: "list-group-item list-group-item-action") %>        
                
              <% end %>
    
  </ul>
          </div>

        </div>
</div>
      </div>
      <!-- /.row -->