<!DOCTYPE html>
<html>
  <head>
    <title>Environment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	  <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>


<script type="text/template" id="template-photo">
      <%= render partial: "albums/photo", locals: { photo: Photo.new, idx: "{{index}}" } %>
    </script>

  </head>

  <body>
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>" role="alert"><%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>
      <% end %>
      <div class="container">
        
      </div>
      
      <%= yield %>
      <%= javascript_include_tag 'application' %>

  </body>
</html>
